body {
  color: #000000;
}

.header {
    background: rgb(0,0,0.1);
  }

  img.hirez {
    width: 8vh;
    height: 5vw;
}

button.button.dropdown {
  margin: 20px;
}


.about {
  height: 40vh;
  background: url("img/about.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: 70%;
}

p.paragraph {
  text-align: center;
  padding: 90px;
  color: #ffffff;
  font-size: 20px;
  text-shadow: #000000 5px 0 12px;
}

.line {
  border-left: thick solid #ff0000;
  position: relative;
  margin-left: 50%;
  height: 100vh;
}

.column.medium-2 {
  background: #000000;
} 
  
.column.small-12.medium-9 {
  margin: 40px auto;
} 
  
.row {
  .earthseige {
    background: url("img/earthseige-background.jpg") -124px 0 no-repeat;
  }
  
  .earthsiege2 {
    background-color: #ef9fae;
    }

  .starsiege {
    background-color: #c76475;
    }

  .tribes2 {
    background-color: #781426;
    }  

  .aerial-assault {
    background-color: #50000e;
    }

  .vengeance {
    background-color: #a7383d;
    }

  .ascend {
    background-color: #7d151a;
    }
}
    
img.logo {
  height: 70px;
  margin: 10px;
}
  
p {
  color: #ffffff;
  padding: 3% 40% 0 2%;
}

.slick-slider {
  margin: 0 20% 14% 2%;
}

.cd {
  background: #9E8E8E;
  opacity: 0.4;
  color: #ffffff;
  margin: 0 0 3% 2%;
  width: 39%;
  padding: 0 0 0 1%
}