  .header {
    background: rgb(0,0,0.1);
  }

  img {
    width: 10vh;
    height: 5vw;
}

button.button.dropdown {
  margin: 20px;
}


.about {
  height: 50vh;
  background: url("/_prod/img/about.jpg")no-repeat;
  background-size: 100% 100%;
  background-position: 70%;
    }

p.paragraph {
  text-align: center;
  padding: 40px;
  color: #ffffff;
  font-size: 20px;
  text-shadow: #000000 5px 0 12px;
}
