doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/foundation.css")
    link(rel="stylesheet", href="css/style.css")
    script(src="js/vendor/modernizr.js")
    script(src="js/vendor/jquery.js")
    script(src="js/vendor/fastclick.js")
    script(src="js/foundation.min.js")
    
  body
  
    .row.header
      .column.small-6
        img.hirez.left(src="img/hirez.png")
      .column.large-6
        button.button.dropdown.right(href='#', data-dropdown='drop1', aria-controls='drop1', aria-expanded='false') Titles
        br
        ul#drop1.f-dropdown(data-dropdown-content='', aria-hidden='true')
    .row.about
      .column.small-12
      p.paragraph Monotonectally drive tactical methods of empowerment without prospective bandwidth. Progressively negotiate cutting-edge vortals after scalable alignments. Quickly restore innovative e-services via functional information. Rapidiously simplify seamless leadership skills without client-focused core competencies. Conveniently facilitate enabled initiatives whereas sustainable innovation.
      
    .row
      .column.medium-2
        .line
      .column.small-12.medium-10
        .row.earthseige
          img.logo(src="")
          .p Credibly reinvent revolutionary quality vectors before virtual alignments. Seamlessly communicate B2B process improvements whereas high-quality value. Proactively reconceptualize standards compliant e-commerce and stand-alone.
          .images
          ul
            li
            li
            li
            li
            li
        .row.earthseige2
          img.logo(src="")
          .p Energistically actualize virtual action items with dynamic vortals. Enthusiastically transition future-proof total linkage rather than user-centric convergence. Objectively communicate revolutionary "outside the box".
          .images
          ul
            li
            li
            li
            li
            li
        .row.starseige
          img.logo(src="")
          .p Globally leverage other's client-focused potentialities rather than e-business schemas. Monotonectally leverage other's corporate growth strategies with excellent intellectual capital. Collaboratively evolve flexible architectures.
          .images
          ul
            li
            li
            li
            li
            li
        .row.tribes2
          img.logo(src="")
          .p Objectively initiate flexible best practices after just in time solutions. Continually aggregate 24/7 e-commerce vis-a-vis economically sound synergy. Compellingly e-enable plug-and-play action items.
          .images
          ul
            li
            li
            li
            li
            li
        .row.aerial-assault
          img.logo(src="")
          .p Appropriately implement process-centric internal or "organic" sources after business content. Efficiently target one-to-one products through value-added interfaces. Seamlessly fabricate intermandated e-services and cross.
          .images
          ul
            li
            li
            li
            li
            li
        .row.vengeance
          img.logo(src="")
          .p Distinctively disintermediate functional vortals vis-a-vis cooperative ROI. Uniquely scale B2C meta-services with standardized services. Collaboratively expedite business communities with frictionless content. Professionally re-engineer.
          .images
          ul
            li
            li
            li
            li
            li
        .row.ascend
          img.logo(src="")
          .p Globally morph robust meta-services whereas effective alignments. Objectively e-enable cross-unit results whereas high-quality testing procedures. Rapidiously enhance e-business methods of empowerment after web-enabled.
          .images
          ul
            li
            li
            li
            li
            li
            
            
            
            